*.gz
*.o
*.swp
Makefile
Makefile.in
aclocal.m4
aminclude.am
config.h
config.in
config.in~
config.log
config.status
configure
libtool
rpm/spec
stamp-h1
test-suite.log
tests/.deps/
tests/.dirstamp
tests/event
tests/main_assert
tests/main_assert.log
tests/main_assert.trs
tests/main_c
tests/main_c.log
tests/main_c.trs
tests/main_cxx
tests/main_cxx.log
tests/main_cxx.trs
version.h
tests/uuid
